#Heading_logo {
    display:flexbox;
    text-align: center;
    padding: 40px;
    margin-bottom:20px ;
    font-size: clamp(50px, 5vw, 60px);
    font-family: 'Poppins', 'Roboto', Arial, sans-serif; 
    font-weight: 550;
    color: #4285F4; 
}
#search-box {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: clamp(15px, 5vw, 16px); 
}
.search-surrounding{
    justify-content: center;
    align-items: center
}
.little-box {
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    font-size: 15px;
}
.little-box:hover {
    background-color: #005ff8;
    border: 1px solid #357AE8;
    cursor: pointer;
}

.top-right-buttons {
  display: flex;             
  justify-content: flex-end;  
  gap: 10px;                  
  position: absolute;         
  top: 10px;
  right: 10px;
}

