#Heading_logo {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0px 20px;
    margin-bottom: 0.5px;
    font-size: clamp(50px, 5vw, 60px);
    font-family: 'Poppins', 'Roboto', Arial, sans-serif; 
    font-weight: 550;
    color: #4285F4; 
}

#search-box {
    border: 1px solid #dfe1e5;
    box-shadow: none; 
    width: 584px; 
    max-width: 90%;
    border-radius: 24px;
    padding: 0 20px;
    height: 44px;
    outline: none;
    margin-bottom:10px;
}

#search-box:hover, #search-box:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.little-box {
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    font-size: 15px;
}
.little-box:hover {
    background-color: #005ff8;
    border: 1px solid #357AE8;
    cursor: pointer;
}

.top-right-buttons {
  display: flex;             
  justify-content: flex-end;  
  gap: 10px;                  
  position: absolute;         
  top: 10px;
  right: 10px;
}
.top-left-buttons {
  display: flex;             
  justify-content: flex-start;  
  gap: 10px;                  
  position: absolute;         
  top: 10px;
  left: 10px;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(50px, 5vw, 60px);

}
.align-center{
    gap: 10px;
}

