body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px; 
}

.google-logo {
  width: 272px;
  margin-bottom: 30px;
  align-self: center;
}


#search-box {
    width: 100%;
    max-width: 584px;
    min-width: 280px;

    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;

    padding: 0 20px;
    font-size: 16px;
    outline: none;

}

#search-box:hover, #search-box:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.little-box {
  margin: 10px 6px;
  padding: 0 16px;
  height: 36px;

  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #3c4043;
  font-weight: normal;

  cursor: pointer;
}
.little-box:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
}
.little-box:focus {
  border: 1px solid #4285f4;
  outline: none;
}
.logo-images-container {
  position: relative;
  width: fit-content;
  margin: 0 auto 12px auto; 
}


.images-text {
  position: absolute;
  right: 5px;
  bottom: 30px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #4285f4;
  padding-bottom: 2px;
}


.top-right-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 16px;
  right: 24px;
}
.top-left-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 35px;
  left: 30px;
  
}


.top-link {
  font-size: 13px;
  color: #1f1f1f;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.top-link:hover {
  text-decoration: underline;
}



.search{
    width: 100%;
    display: flex;
    justify-content: center;

}

.align-center {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
.google-logo-advanced {
  height: 25px;
  width: auto;
  padding-top: 25px;
  margin-left: 18px;
}

.advanced-search-form {
  margin: 25px 45px;
  font-size: 16px;

  max-width: 900px;
  width: calc(100% - 90px);
}



.advanced-context {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color:#212324;
}

.advanced-input {
  width: 100%;
  max-width: 560px;
  min-width: 0;

  height: 25px;
  font-size: 14px;
  border: 1px solid #ccd3d8;
  border-top-color: #aeaeaf;
}


.footer-left {
  gap : 20px;
  text-decoration: none;
  display: flex;
}
.footer-text {
  text-decoration: none;
  color:#484d50;
}

.advanced-row {
  display: grid;
  grid-template-columns: 180px minmax(0, 520px);
  align-items: center;
  margin-bottom: 18px;
  column-gap: 20px;
}

.range-box{
  display: grid;
  grid-template-columns: 1fr auto 1fr;  /* input | to | input */
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.range-box input.advanced-input{
  width: 100%;
  max-width: none;   /* IMPORTANT */
}

.range-box span{
  font-size: 14px;
  color: #212324;
  text-align: center;
  white-space: nowrap;
}




